In [4]:
print("hello sohail")

hello sohail

In [6]:
print("greeting from ineurons")
print("good night")

greeting from ineurons
good night

In [8]:
print"good night"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (577150787.py, line 1)

In [10]:
print ("good 
       night")

SyntaxError: unterminated string literal (detected at line 1) (2018870127.py, line 1)

In [12]:
print("""good 
night""")

good
night

In [15]:
print("""Sepoy Mutiny" redirects here. For other uses, see Sepoy Mutiny (disambiguation).
Indian Rebellion of 1857
Indian Rebellion of 1857.jpg
A 1912 map of Northern India, showing the centres of the rebellion.
Date	10 May 1857 – 1 November 1858
(1 year and 6 months)
Location	
India
Result	
British victory

Suppression of revolt
Formal end of the Mughal Empire
End of Company rule in India
Transfer of rule to the British Crown
Territorial
changes	British Raj created out of former East India Company territory. Some land returned to native rulers, other land confiscated by the British Crown.
 
Belligerents
Sepoy mutineers
Mughal Empire
Oudh
Forces of Rani Lakshmibai of Jhansi
Forces of Nana Sahib Peshwa II
Jagdishpur
Gwalior factions
Jodhpur factions
Banda
Various other Rajas, Nawabs, Zamindars, Thakurs, Chaudharys, Taluqdars, Sardars, and chieftains
United Kingdom of Great Britain and Ireland
Company rule in India
Rajputana Agency
Patiala
Kapurthala
Rampur
Jodhpur
Nabha
Kingdom of Nepal
Commanders and leaders
Nana Sahib
Bahadur Shah II  Executed
Rani Lakshmibai †
Tatya Tope Executed
Bakht Khan †
Begum Hazrat Mahal
Kunwar Singh
The Earl Canning
George Anson †
Sir Patrick Grant
Sir Colin Campbell
Sir Hugh Rose
Sir Henry Havelock †

Sir James Outram
Sir Henry Lawrence †
Sir James Neill †
John Nicholson †
Dhir Shamsher Rana[1]
Randhir Singh
Sir Yusef Ali Khan
Casualties and losses
6,000 British killed, including civilians[a][2]

Based on a rough comparison of the sketchy pre-1857 regional demographic data and the first 1871 Census of India, probably 800,000 Indians were killed, and very likely more, both in the rebellion and in the famines and epidemics of disease that were caused as a result in its immediate aftermath.[2]
vte
Indian Rebellion of 1857
Part of a series on the
History of India
North Gateway - Rear Side - Stupa 1 - Sanchi Hill 2013-02-21 4480-4481.JPG
Prehistoric
Ancient
Classical
Early medieval
Late medieval
Early modern
Modern
Related articles
vte
The Indian Rebellion of 1857 was a major uprising in India in 1857–58 against the rule of the British East India Company, which functioned as a sovereign power on behalf of the British Crown.[4][5] The rebellion began on 10 May 1857 in the form of a mutiny of sepoys of the Company's army in the garrison town of Meerut, 40 mi (64 km) northeast of Delhi. It then erupted into other mutinies and civilian rebellions chiefly in the upper Gangetic plain and central India,[b][6][c][7] though incidents of revolt also occurred farther north and east.[d][8] The rebellion posed a military threat to British power in that region,[e][9] and was contained only with the rebels' defeat in Gwalior on 20 June 1858.[10] On 1 November 1858, the British granted amnesty to all rebels not involved in murder, though they did not declare the hostilities to have formally ended until 8 July 1859. Its name is contested, and it is variously described as the Sepoy Mutiny, the Indian Mutiny, the Great Rebellion, the Revolt of 1857, the Indian Insurrection, and the First War of Independence.[f][11]""")

Sepoy Mutiny" redirects here. For other uses, see Sepoy Mutiny (disambiguation).
Indian Rebellion of 1857
Indian Rebellion of 1857.jpg
A 1912 map of Northern India, showing the centres of the rebellion.
Date	10 May 1857 – 1 November 1858
(1 year and 6 months)
Location
India
Result
British victory

Suppression of revolt
Formal end of the Mughal Empire
End of Company rule in India
Transfer of rule to the British Crown
Territorial
changes	British Raj created out of former East India Company territory. Some land returned to native rulers, other land confiscated by the British Crown.

Belligerents
Sepoy mutineers
Mughal Empire
Oudh
Forces of Rani Lakshmibai of Jhansi
Forces of Nana Sahib Peshwa II
Jagdishpur
Gwalior factions
Jodhpur factions
Banda
Various other Rajas, Nawabs, Zamindars, Thakurs, Chaudharys, Taluqdars, Sardars, and chieftains
United Kingdom of Great Britain and Ireland
Company rule in India
Rajputana Agency
Patiala
Kapurthala
Rampur
Jodhpur
Nabha
Kingdom of Nepal
Commanders and leaders
Nana Sahib
Bahadur Shah II  Executed
Rani Lakshmibai †
Tatya Tope Executed
Bakht Khan †
Begum Hazrat Mahal
Kunwar Singh
The Earl Canning
George Anson †
Sir Patrick Grant
Sir Colin Campbell
Sir Hugh Rose
Sir Henry Havelock †

Sir James Outram
Sir Henry Lawrence †
Sir James Neill †
John Nicholson †
Dhir Shamsher Rana[1]
Randhir Singh
Sir Yusef Ali Khan
Casualties and losses
6,000 British killed, including civilians[a][2]

Based on a rough comparison of the sketchy pre-1857 regional demographic data and the first 1871 Census of India, probably 800,000 Indians were killed, and very likely more, both in the rebellion and in the famines and epidemics of disease that were caused as a result in its immediate aftermath.[2]
vte
Indian Rebellion of 1857
Part of a series on the
History of India
North Gateway - Rear Side - Stupa 1 - Sanchi Hill 2013-02-21 4480-4481.JPG
Prehistoric
Ancient
Classical
Early medieval
Late medieval
Early modern
Modern
Related articles
vte
The Indian Rebellion of 1857 was a major uprising in India in 1857–58 against the rule of the British East India Company, which functioned as a sovereign power on behalf of the British Crown.[4][5] The rebellion began on 10 May 1857 in the form of a mutiny of sepoys of the Company's army in the garrison town of Meerut, 40 mi (64 km) northeast of Delhi. It then erupted into other mutinies and civilian rebellions chiefly in the upper Gangetic plain and central India,[b][6][c][7] though incidents of revolt also occurred farther north and east.[d][8] The rebellion posed a military threat to British power in that region,[e][9] and was contained only with the rebels' defeat in Gwalior on 20 June 1858.[10] On 1 November 1858, the British granted amnesty to all rebels not involved in murder, though they did not declare the hostilities to have formally ended until 8 July 1859. Its name is contested, and it is variously described as the Sepoy Mutiny, the Indian Mutiny, the Great Rebellion, the Revolt of 1857, the Indian Insurrection, and the First War of Independence.[f][11]

In [22]:
print (' hi my name is "sohail" ')

 hi my name is "sohail"

In [23]:
print("hi my name is \"sohail\" ")

hi my name is "sohail"

In [21]:
# multi line comment
"""
 say hi
 all of you
 """

'\n say hi\n all of you\n '

In [25]:
# variable 
123+452 #sum of nos

575

In [27]:
123/526

0.2338403041825095

In [29]:
543*578

313854

In [31]:
123**2 # power of 123 raised to 2

15129

In [33]:
123%2  # modulo operater which gives reminder

1

In [34]:
122%2

0

In [35]:
145%2

1

In [37]:
 a = 123
 b = 358
print(a+b)

481

In [40]:
print(546+689)

1235

In [42]:
# variables in python

In [50]:
x = 10

In [54]:
print(x)

10

In [57]:
y = 30

In [59]:
print(y)

30

In [61]:
print(x*y)

300

In [63]:
print(x/y)

0.3333333333333333

In [68]:
ten = 10   # variable name should not cotain any special character like ' % ! @ # $ & * ()
ten_number = 10
ten%number = 10
tennumber = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3662852132.py, line 3)

In [69]:
ten%number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1559910169.py, line 1)

In [71]:
ten = 10
ten_number = 10
tennumber = 10

In [72]:
 # 3 variable names can contain no but you can't start with numbers

In [74]:
ten = 10

In [76]:
ten10 = 10

In [78]:
10ten = 10

SyntaxError: invalid decimal literal (3011706180.py, line 1)

In [81]:
_num =10

In [85]:
ten_number = 10

In [1]:
a = 7

In [7]:
type(a)

int

In [8]:
## floats numbers containing numbers

In [9]:
pi = 3.14

In [11]:
type(pi)

float

In [12]:
x = 2.0

In [15]:
type(x)

float

In [24]:
pi = 22/7
type(pi)
pi

3.142857142857143

In [26]:
# complex numbers

In [29]:
a = 2+3j

In [31]:
print(a)

(2+3j)

In [33]:
a.real

2.0

In [36]:
a.imag

3.0

In [37]:
### dynamic typing

In [42]:
a = 22 
print(type(a))
a = 22.2
print(type(a))
a = "sohail"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [44]:
print(a)

sohail

In [45]:
# strong typing

In [47]:
"day" + 1

TypeError: can only concatenate str (not "int") to str

In [50]:
"day" + "1"

'day1'

In [52]:
"22"  + "22"

'2222'

In [60]:
"sohail" + "anwar" + "raza"

'sohailanwarraza'

In [61]:
a = 1 # int data type
b = 1.2 # float data type
c = "sohail" # string data type
f = 1 + 2j # complex data type # rarely used

In [63]:
print("hi welcome to class of python")

hi welcome to class of python

In [67]:
language = "java script"
print("hi welcome to class of " + language + " language ")

hi welcome to class of java script language

In [69]:
language = "phython" # this is allowed but rarely used
print("hi welcome to class of " + language + " language ")

hi welcome to class of phython language

In [75]:
# f-> formatted string method
language = "java script"  
print(f"hi welcome to class of  {language}  language ") # current standard approach used in python

hi welcome to class of  java script  language

In [76]:
language = "java script"  
print("hi welcome to class of  {}  language".format(language)) # old way

hi welcome to class of  java script  language

In [79]:
a = 22
b = 35
c = a + b
print(f"the result sum of two nums a: {a} and b: {b} is = {c}")

the result sum of two nums a: 22 and b: 35 is = 57

In [80]:
## boolean
 # true and flase

In [ ]:
one = True

one = True 
two = False
print(type(one))
print(type(two))

In [87]:
one = True 
two = False
print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [92]:
class_starts_at = 3
you_came_at = 2
you_understood_all_concepts = you_came_at < class_starts_at

print(f"you understood everything?: {you_understood_all_concepts} ")

you understood everything?: True

class_starts_at = 3
you_came_at = 4 
you_understood_all_concepts = you_came_at < class_starts_at

print(f"you understood everything?: {you_understood_all_concepts} ")

In [95]:
class_starts_at = 3
you_came_at = 4 
you_understood_all_concepts = you_came_at < class_starts_at

print(f"you understood everything?: {you_understood_all_concepts} ")

you understood everything?: False