In [7]:
name, place, year_of_birth, weight = "sohail", "kolkata", 1998, 65.50

In [8]:
print(f"""
my name is: {name}
i live at: {place}
i was bron in: {year_of_birth}
my weight is: {weight} in kgs""")

my name is: sohail
i live at: kolkata
i was bron in: 1998
my weight is: 65.5 in kgs

In [9]:
name, place, year_of_birth, weight = "sohail", "kolkata", 1998, 65.50

In [12]:
print(name, place, year_of_birth, weight)

sohail kolkata 1998 65.5

In [14]:
name = input("name")
place = input("place")
year_of_birth = input("year_of_birth")
weight = input("weight")

name sohail
place kolkata
year_of_birth 30/11/1998
weight 65.50

In [15]:
name = input("name") # always gives you string values
place = input("place")
year_of_birth = input("year_of_birth")
age = 2022 - year_of_birth
weight = input("weight")
print(f"""
my name is: {name}
i live at: {place}
{name} is of age: {age}
i was bron in: {year_of_birth}
my weight is: {weight} in kgs""")

name sohail
place kolkata
year_of_birth 1998

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [16]:
name = input("name") # always gives you string values
place = input("place")
year_of_birth =int( input("year_of_birth")) # convert this into integer
age = 2022 - year_of_birth # calculate your age
weight = input("weight")
print(f"""
my name is: {name}
i live at: {place}
{name} is of age: {age} 
i was bron in: {year_of_birth}
my weight is: {weight} in kgs""")

name sohail
place kolkata
year_of_birth 1998
weight 65.50

my name is: sohail
i live at: kolkata
sohail is of age: 24
i was bron in: 1998
my weight is: 65.50 in kgs

In [18]:
name = input("name") # always gives you string values
place = input("place")
year_of_birth = input("year_of_birth") # type conversion
current_year = input("current year:")
age = int(current_year) - int(year_of_birth)# convert this into integer
weight = input("weight")
print(f"""
my name is: {name}
i live at: {place}
{name} is of age: {age} 
i was bron in: {year_of_birth}
my weight is: {weight} in kgs""")

name sohail
place kolkata
year_of_birth 1998
current year: 2023
weight 65.50

my name is: sohail
i live at: kolkata
sohail is of age: 25
i was bron in: 1998
my weight is: 65.50 in kgs

In [1]:
# Memory Block

In [2]:
a = 22
b = 34
c = 22

In [4]:
id(a) # memory addres

140029115155344

In [7]:
id(b)

140029115155728

In [9]:
id(c)

140029115155344

In [11]:
c = 22 + b

In [13]:
id(c)

140029115156432

In [17]:
a = 99 # memory is assigned to the variable passed not the variable name
id(a)

140029115157808

In [19]:
a = 22
b = 34
c = 22

print(id(a)), (id(b)), (id(c))

140029115155344

(None, 140029115155728, 140029115155344)

In [21]:
a = 22
b = 34
c = 32

print(id(a)), (id(b)), (id(c))

140029115155344

(None, 140029115155728, 140029115155664)

In [23]:
a = "sohail"
b = 34
c = "sohail"

print(id(a)), (id(b)), (id(c))

140029068054000

(None, 140029115155728, 140029068054000)

In [25]:
a = 22
b = 34
c = 58

print(id(a)), (id(b)), (id(c))

140029115155344

(None, 140029115155728, 140029115156496)

In [27]:
a = "s"
b = 34
c = "s"

print(id(a)), (id(b)), (id(c))

140029115990064

(None, 140029115155728, 140029115990064)

In [29]:
a = 22
b = 34
c = 22.0

print(id(a)), (id(b)), (id(c))

140029115155344

(None, 140029115155728, 140029067402768)