In [1]:
## AGENDA 

# 1. if else
# 2. if elif else
# 3. nested if else
# 4. Ssingle line if else [Not recommended] 
 ## 2. loops in python
    # 1. for
    # 2. while

In [3]:
## if else[covered]

In [ ]:
## if elif

## online food  orders - zomato app, swiggy, uber eats

## if you order more than Rs. 500
   # discount = 20%

## if you order more than Rs. 1000
   # discount = 30%

In [8]:
total_amount = 90 + 100 + 100 + 1000

print (f"cart total : {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif total_amount <=  999 and total_amount > 499: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 1290
pay amount: 903.0

In [10]:
total_amount = 90 + 100

print (f"cart total : {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif total_amount <=  999 and total_amount > 499: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 190
pay amount: 190

In [11]:
total_amount = 90 + 100 + 500

print (f"cart total : {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif total_amount <=  999 and total_amount > 499: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 690
pay amount: 552.0

In [15]:
total_amount = 90 + 100 + 100 + 1000

print (f"cart total : {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif 499 < total_amount <=  999: # and total_amount > 499: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 1290
pay amount: 903.0

In [14]:
total_amount = 90 + 100 + 500

print (f"cart total : {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif 499 < total_amount <=  999:# and total_amount > 499: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 690
pay amount: 552.0

In [16]:
total_amount = 90 + 100 + 100 + 1000

print (f"cart total : {total_amount}")

if total_amount > 1499:
    price_after_discount = total_amount * 60/100
    print(f"pay amount: {price_after_discount}")
elif 999 < total_amount <=  1499: # 999 <= price < 499
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif 499 < total_amount <=  999: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 1290
pay amount: 903.0

In [17]:
total_amount = 90 + 100 + 500

print (f"cart total : {total_amount}")

if total_amount > 1499:
    price_after_discount = total_amount * 60/100
    print(f"pay amount: {price_after_discount}")
elif 999 < total_amount <=  1499: 
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif 499 < total_amount <=  999: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 690
pay amount: 552.0

In [18]:
total_amount = 90 + 100 + 500 + 1000

print (f"cart total : {total_amount}")

if total_amount > 1499:
    price_after_discount = total_amount * 60/100
    print(f"pay amount: {price_after_discount}")
elif 999 < total_amount <=  1499: 
    price_after_discount = total_amount * 70/100
    print(f"pay amount: {price_after_discount}")
elif 499 < total_amount <=  999: # 999 <= price < 499
    price_after_discount = total_amount * 80/100
    print(f"pay amount: {price_after_discount}")
else:
    print(f"pay amount: {total_amount}")

cart total : 1690
pay amount: 1014.0

In [19]:
##  Nested if else

# print if the no. is negative or positive

In [20]:
val = float(input("enter a number"))
if val == 0:
    if val == 0:
        print("its zero")
    else:
        print("its a positive number")
else:
    print("negative number")

enter a number 0

its zero

In [21]:
val = float(input("enter a number"))
if val == 0:
    if val == 0:
        print("its zero")
    else:
        print("its a positive number")
else:
    print("negative number")

enter a number 12

negative number

In [22]:
### single line if else

# print YES of the no. is greater than 99

In [23]:
val = float(input("enter a number"))

if val > 99: print("yes")

enter a number 9

In [25]:
val = float(input("enter a number"))

if val > 99: print("yes")

enter a number 333

yes

In [27]:
# ok for competitive program
# for production code or in a company its not recommended
val = float(input("enter a number"))

if val > 99: print("yes")

else: 
    print("no")

enter a number 24

no

In [28]:
val = float(input("enter a number"))

if val > 99: print("yes")

else: 
    print("no")

enter a number 33

no

In [30]:
# Recommended approach
# its more readable and clean

val = float(input("enter a number"))

if val > 99: print("yes")

else: 
    print("no")

enter a number 9

no

In [1]:
## LOOPS
# 1. while loop
# 2. for loop
# 3. loop control
  # - break
  # - ccontinue
  # - pass
# 4. nested loop

In [2]:
# UPSC, IAS, Goverment exams

# Repetive attempts

In [5]:
total_marks = 1000
cutoff = 400
scores = [100, 200, 300, 399, 500]

# i will keep on attempting until i succed
year = 0

while scores[year] < cutoff:
    print(f"your scores is:{scores[year]}")
    print("i will attempt next year")
    year = year + 1 # i am adding 1 to current year

your scores is:100
i will attempt next year
your scores is:200
i will attempt next year
your scores is:300
i will attempt next year
your scores is:399
i will attempt next year

In [6]:
scores[0]

100

In [7]:
scores[1]

200

In [8]:
total_marks = 1000
cutoff = 400
scores = [100, 200, 300, 399, 500]

# i will keep on attempting until i succed
year = 0

while scores[year] < cutoff:
    print(f"your scores is:{scores[year]}, cutoff: {cutoff}")
    print("i will attempt next year")
    year = year + 1 # i am adding 1 to current year

your scores is:100, cutoff: 400
i will attempt next year
your scores is:200, cutoff: 400
i will attempt next year
your scores is:300, cutoff: 400
i will attempt next year
your scores is:399, cutoff: 400
i will attempt next year

In [9]:
## infinite loop

# if the condition is always true then you loop will keep on running

In [1]:
""""
child is learning to counting 10 ruppes of note
"""

note = 10
i = 1

while i <= note:
    print(f"current sum: {i*10}")
    i = i + 1

current sum: 10
current sum: 20
current sum: 30
current sum: 40
current sum: 50
current sum: 60
current sum: 70
current sum: 80
current sum: 90
current sum: 100

In [3]:
# Train journey

stations = ["station 01", "station 02", "station 03", "station 04"]

current_station = 0
destination_station = "station 03"

while stations[current_station] != destination_station:
    print(f"current station is: {stations[current_station]}")
    print(f"my destination is: {destination_station}")
    print("continue the journey i haven't reached the destination")
    current_station = current_station + 1

current station is: station 01
my destination is: station 03
continue the journey i haven't reached the destination
current station is: station 02
my destination is: station 03
continue the journey i haven't reached the destination

In [4]:
stations = ["station 01", "station 02", "station 03", "station 04"]

current_station = 0
destination_station = "station 03"

while stations[current_station] != destination_station:
    print(f"current station is: {stations[current_station]}")
    print(f"my destination is: {destination_station}")
    print("continue the journey i haven't reached the destination")
    current_station = current_station + 1
    print(f"next station is: {stations[current_station]}")

current station is: station 01
my destination is: station 03
continue the journey i haven't reached the destination
next station is: station 02
current station is: station 02
my destination is: station 03
continue the journey i haven't reached the destination
next station is: station 03

In [5]:
# while else

stations = ["station 01", "station 02", "station 03", "station 04"]

current_station = 0
destination_station = "station 03"

while stations[current_station] != destination_station:
    print(f"current station is: {stations[current_station]}")
    print(f"my destination is: {destination_station}")
    print("continue the journey i haven't reached the destination")
    current_station = current_station + 1
    print(f"next station is: {stations[current_station]}")
    print("-------")
else:
    print(f"i have arrived at: {stations[current_station]}")

current station is: station 01
my destination is: station 03
continue the journey i haven't reached the destination
next station is: station 02
-------
current station is: station 02
my destination is: station 03
continue the journey i haven't reached the destination
next station is: station 03
-------
i have arrived at: station 03

In [6]:
## while condition is True
  # statement
## else:
   # statement
# ''''''

In [11]:
""""
child is learning to counting 10 ruppes of note
"""

note = 5
i = 1

while i <= note:
    print(f"CONDITION: {i <= note}")
    print(f"current sum: {i*10}")
    i = i + 1
    print("----------")
else:
    print(f"CONDITION: {i <= note}")
    print("no more 10 ruppes note left")

CONDITION: True
current sum: 10
----------
CONDITION: True
current sum: 20
----------
CONDITION: True
current sum: 30
----------
CONDITION: True
current sum: 40
----------
CONDITION: True
current sum: 50
----------
CONDITION: False
no more 10 ruppes note left

In [12]:
# for loop

In [14]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(0, 10): # 10 here is out of bound
    print(f"10 x {i} = {10*i}")

10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

In [16]:
for i in range(0, 10): # 10 here is out of bound
    print(f"10 x {i} = {10*(i+1)}")

10 x 0 = 10
10 x 1 = 20
10 x 2 = 30
10 x 3 = 40
10 x 4 = 50
10 x 5 = 60
10 x 6 = 70
10 x 7 = 80
10 x 8 = 90
10 x 9 = 100

In [19]:
"sohail"*10

'sohailsohailsohailsohailsohailsohailsohailsohailsohailsohail'

In [18]:
 for i in range(1, 15): # 11 here is out of bound
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************

In [20]:
## i is not neccessary to use
for sohail in range(1, 15): # 11 here is out of bound
    print("*"*sohail)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************

In [21]:
cost_of_items = [100, 200, 129, 456]

total_sum = 0

for i in range(0, 4):
    total_sum = total_sum + cost_of_items[i]
    
print(f"total amount to be paid: {total_sum}")

total amount to be paid: 885

In [24]:
cost_of_items = [100, 200, 129, 456]

total_sum = 0

for i in range(-4, 0):
    total_sum = total_sum + cost_of_items[i]
    
print(f"total amount to be paid: {total_sum}")

total amount to be paid: 885

In [28]:
cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3
total_sum = 0

for i in range(0, 4): # 0,1,2,3
    print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum + cost_of_items[i]
    print(f"after adding total_sum={total_sum}")
    print("----------")
print(f"total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
----------
100 = 100 + 200
after adding total_sum=300
----------
300 = 300 + 129
after adding total_sum=429
----------
429 = 429 + 456
after adding total_sum=885
----------
total amount to be paid: 885

In [29]:
len(cost_of_items)

4

In [32]:
cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3
total_sum = 0
N = len(cost_of_items)

for i in range(0, N): # 0,1,2,3
    print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum + cost_of_items[i]
    print(f"after adding total_sum={total_sum}")
    print("----------")
print(f"total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
----------
100 = 100 + 200
after adding total_sum=300
----------
300 = 300 + 129
after adding total_sum=429
----------
429 = 429 + 456
after adding total_sum=885
----------
885 = 885 + 1000
after adding total_sum=1885
----------
total amount to be paid: 1885

In [34]:
cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3
total_sum = 0

for cost in cost_of_items: # 0,1,2,3
    print(f"{total_sum} = {total_sum} + {cost}")
    total_sum = total_sum + cost
    print(f"after adding total_sum={total_sum}")
    print("----------")
print(f"total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total_sum=100
----------
100 = 100 + 200
after adding total_sum=300
----------
300 = 300 + 129
after adding total_sum=429
----------
429 = 429 + 456
after adding total_sum=885
----------
total amount to be paid: 885

In [3]:
cost_of_item = [100, 200, 129, 456, 1000, 199, 299]

total_sum = 0
budget = 2000

for cost in cost_of_item:
    total_sum = total_sum + cost
    if total_sum > budget:
        total_sum = total_sum - cost
        break

print(f"total amount to be paid:{total_sum}")

total amount to be paid:1885

In [4]:
cost_of_item = [100, 200, 129, 456, 1000, 199, 299]

total_sum = 0
budget = 2000

for cost in cost_of_item:
    total_sum = total_sum + cost
    print(f"current total: {total_sum}")
    if total_sum > budget:
        total_sum = total_sum - cost
        break

print(f"total amount to be paid:{total_sum}")

current total: 100
current total: 300
current total: 429
current total: 885
current total: 1885
current total: 2084
total amount to be paid:1885

In [5]:
cost_of_item = [100, 200, 129, 456, 1000, 199, 299]

total_sum = 0
budget = 2000

for cost in cost_of_item:
    total_sum = total_sum + cost
    print(f"current total: {total_sum}")
    if total_sum > budget:
        print(f"since current total is more than my budget: {budget}")
        print("please remove the last item")
        total_sum = total_sum - cost
        break

print(f"total amount to be paid:{total_sum}")

current total: 100
current total: 300
current total: 429
current total: 885
current total: 1885
current total: 2084
since current total is more than my budget: 2000
please remove the last item
total amount to be paid:1885

In [8]:
for i in range(1, 100):
    if i > 50:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
for i in range(1, 100):
    print(i)
    if i > 50:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [11]:
 for i in range(1, 20):
    if i%20==0:     #  if no is even the start the loop again
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
for i in range(1, 20):
    if i%2!=0:     #  if no is even the start the loop again
        continue # Strat the loop again
    print(i)

2
4
6
8
10
12
14
16
18

In [2]:
for i in range(1, 20):
    if i%2==0:     #  if no is even the start the loop again
        break # STOP THE LOOP DON'T at all
    print(i)

1

In [3]:
stations = ["station 01", "station 02", "station 03", "station 04"]

for current_station in stations:
    print(f"current station is: {current_station}")
    if current_station == "station 02":
        break

current station is: station 01
current station is: station 02

In [4]:
stations = ["station 01", "station 02", "station 03", "station 04"]

for current_station in stations:
    print(f"current station is: {current_station}")
    if current_station == "station 03":
        break

current station is: station 01
current station is: station 02
current station is: station 03

In [8]:
stations = ["station 01", "station 02", "station 03", "station 04"]

for current_station in stations:
    
    if current_station == "station 02":
        continue
    print(f"current station is: {current_station}")

current station is: station 01
current station is: station 03
current station is: station 04

In [9]:
## break: it completely stops the loop
## continue: it skips the current loop or it skips all the statement after continue keyword

In [11]:
for i in range (1, 10):
    pass # i want to write code later

In [12]:
stations = ["station 01", "station 02", "station 03", "station 04"]

for current_station in stations:
    
    if current_station == "station 02":
        pass
    print(f"current station is: {current_station}")

current station is: station 01
current station is: station 02
current station is: station 03
current station is: station 04

In [13]:
 ## what is the difference between list of python and array of C or C++
    
 ## Ans. in array we will elements of only one datatype in python list all elements can be different or same datatype

In [14]:
A = [1,2,3,4,5]

A[0]

1

In [15]:
A = [1,2,3,4,5.0, "SOHAIL", 1+2j, True]

type(A)

list

In [16]:
for element in A:
    print(element)

1
2
3
4
5.0
SOHAIL
(1+2j)
True

In [17]:
len(A)

8

In [18]:
for i in range (len(A)):
    print(A[i])

1
2
3
4
5.0
SOHAIL
(1+2j)
True

In [19]:
for i in range (len(A)):
    print(f"value{A[i]}, datatype={type(A[i])}")

value1, datatype=<class 'int'>
value2, datatype=<class 'int'>
value3, datatype=<class 'int'>
value4, datatype=<class 'int'>
value5.0, datatype=<class 'float'>
valueSOHAIL, datatype=<class 'str'>
value(1+2j), datatype=<class 'complex'>
valueTrue, datatype=<class 'bool'>

In [21]:
A

[1, 2, 3, 4, 5.0, 'SOHAIL', (1+2j), True]

In [22]:
A[3:]

[4, 5.0, 'SOHAIL', (1+2j), True]

In [23]:
A[0:]

[1, 2, 3, 4, 5.0, 'SOHAIL', (1+2j), True]

In [24]:
A[0::2] # [start index: end index: STEP]

[1, 3, 5.0, (1+2j)]

In [25]:
for i in range (0, 8, 2):
    print(i)

0
2
4
6

In [26]:
for i in range (0, 8, 2):
    print(i, A[i])

0 1
2 3
4 5.0
6 (1+2j)

In [27]:
 A

[1, 2, 3, 4, 5.0, 'SOHAIL', (1+2j), True]

In [28]:
A[::-1] # REVERSES order

[True, (1+2j), 'SOHAIL', 5.0, 4, 3, 2, 1]

In [29]:
 A[::-2]

[True, 'SOHAIL', 4, 2]

In [30]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [34]:
for i in range(0,len(A)):
    print(i, A[i])

0 1
1 2
2 3
3 4
4 5.0
5 SOHAIL
6 (1+2j)
7 True

In [37]:
for i in range(-1, -len(A) - 1, -1):
    print(i, A[i])

-1 True
-2 (1+2j)
-3 SOHAIL
-4 5.0
-5 4
-6 3
-7 2
-8 1

In [38]:
A[::2]

[1, 3, 5.0, (1+2j)]

In [39]:
A[1::2]

[2, 4, 'SOHAIL', True]

In [3]:
A = [1,2,3,4,5.0, "SOHAIL", 1+2j, True]

type(A)

list

In [4]:
for i in [1,5,6,7]:
    print(i, A[i])

1 2
5 SOHAIL
6 (1+2j)
7 True

In [5]:
A

[1, 2, 3, 4, 5.0, 'SOHAIL', (1+2j), True]

In [6]:
A[4] = 999 # MUTABLE OPERATION ALLOWED IN LIST

In [7]:
A

[1, 2, 3, 4, 999, 'SOHAIL', (1+2j), True]

In [9]:
A[-2] = "iNeuron"

In [10]:
A

[1, 2, 3, 4, 999, 'SOHAIL', 'iNeuron', True]

In [11]:
B = [78,92.33]

In [12]:
A + B

[1, 2, 3, 4, 999, 'SOHAIL', 'iNeuron', True, 78, 92.33]

In [13]:
A = A + B

In [14]:
A

[1, 2, 3, 4, 999, 'SOHAIL', 'iNeuron', True, 78, 92.33]

In [15]:
A * 2

[1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33,
 1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33]

In [16]:
A/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [17]:
A*A

TypeError: can't multiply sequence by non-int of type 'list'

In [18]:
A + A

[1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33,
 1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33]

In [19]:
A + A + A

[1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33,
 1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33,
 1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33]

In [20]:
A * (-1)

[]

In [21]:
A * (-2)

[]

In [22]:
A + 2 * A

[1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33,
 1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33,
 1,
 2,
 3,
 4,
 999,
 'SOHAIL',
 'iNeuron',
 True,
 78,
 92.33]

In [23]:
A * 0

[]

In [24]:
## BASIC METHODS

# if you are familiar another programming language, start to draw parallels between lists in python and arrays in other language
 # there are two reason which tells why the lists in python are more flexible than arrays in other programming language:
# A. they have no fixed size (which means we need not to specify how big the list will be)
# B. They have no fixed type constraint

# let's go ahead and explore some more special methods for list:

In [26]:
l = [45,6,7,5,"ineuron",True,False,35,62.56]
len(l)

9

In [27]:
len(A)

10

In [28]:
my_list = [] # not recommend

len(my_list)

0

In [29]:
my_list = list() #  recommend

len(my_list)

0

In [30]:
list_of_item_purchase = list()

for i in range(10):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_purchase = list_of_item_purchase + [user_input]
    
print(list_of_item_purchase)

Enter the item that you want to purchase:  MANGO
Enter the item that you want to purchase:  BANANA
Enter the item that you want to purchase:  PAPAYA
Enter the item that you want to purchase:  APPLE
Enter the item that you want to purchase:  I PHONE 14 PRO MAX
Enter the item that you want to purchase:  BREAD
Enter the item that you want to purchase:  SUGAR
Enter the item that you want to purchase:  EGGS
Enter the item that you want to purchase:  RICE
Enter the item that you want to purchase:  WHEAT

['MANGO', 'BANANA', 'PAPAYA', 'APPLE', 'I PHONE 14 PRO MAX', 'BREAD', 'SUGAR', 'EGGS', 'RICE', 'WHEAT']

In [31]:
list_of_item_purchase = list()

N = int(input("No of item yo want to purchase: "))
for i in range(N):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_purchase = list_of_item_purchase + [user_input]
    
print(list_of_item_purchase)

No of item yo want to purchase:  4
Enter the item that you want to purchase:  I PHONE LATEST VERSION
Enter the item that you want to purchase:  APPLE WATCH
Enter the item that you want to purchase:  AIR POD
Enter the item that you want to purchase:  MACBOOK

['I PHONE LATEST VERSION', 'APPLE WATCH', 'AIR POD', 'MACBOOK']

In [33]:
len(list_of_item_purchase )

4

In [34]:
list_of_item_purchase = list()

N = int(input("No of item yo want to purchase: "))
i = 0
while i < N:
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_purchase = list_of_item_purchase + [user_input]
    i = i + 1
    
print(list_of_item_purchase)

No of item yo want to purchase:  5
Enter the item that you want to purchase:  i phone
Enter the item that you want to purchase:  apple watch
Enter the item that you want to purchase:  air pod
Enter the item that you want to purchase:  mac book
Enter the item that you want to purchase:  i pad

['i phone ', 'apple watch', 'air pod', 'mac book', 'i pad']

In [35]:
[1,2] + [360]

[1, 2, 360]

In [36]:
list_of_item_purchase = list()

N = int(input("No of item yo want to purchase: "))
i = 0
while i < N:
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_purchase = list_of_item_purchase + [user_input]
    i = i + 1
    print(f"cureent i: {i}=> current list: {list_of_item_purchase}")
    
print(list_of_item_purchase)

No of item yo want to purchase:  5
Enter the item that you want to purchase:  I PHONE

cureent i: 1=> current list: ['I PHONE']

Enter the item that you want to purchase:  AIR POD

cureent i: 2=> current list: ['I PHONE', 'AIR POD']

Enter the item that you want to purchase:  WATCH

cureent i: 3=> current list: ['I PHONE', 'AIR POD', 'WATCH']

Enter the item that you want to purchase:  MAC BOOK

cureent i: 4=> current list: ['I PHONE', 'AIR POD', 'WATCH', 'MAC BOOK']

Enter the item that you want to purchase:  I PAD

cureent i: 5=> current list: ['I PHONE', 'AIR POD', 'WATCH', 'MAC BOOK', 'I PAD']
['I PHONE', 'AIR POD', 'WATCH', 'MAC BOOK', 'I PAD']

In [38]:
5 in l

True

In [39]:
"PHONE COVER" in list_of_item_purchase

False

In [40]:
"I PHONE" in list_of_item_purchase

True

In [41]:
"i phone" in list_of_item_purchase

False

In [42]:
if "i phone" in list_of_item_purchase:
    print("YES")
else:
    print("NO, adding into the list")
    list_of_item_purchase =  list_of_item_purchase + ["i phone"]

NO, adding into the list

In [43]:
if "I PHONE" in list_of_item_purchase:
    print("YES")
else:
    print("NO, adding into the list")
    list_of_item_purchase =  list_of_item_purchase + ["I PHONE"]

YES

In [48]:
len( list_of_item_purchase)

6

In [52]:
if "pen" not in list_of_item_purchase:
    print("NO, adding into the list")
    list_of_item_purchase =  list_of_item_purchase + ["pen"]
list_of_item_purchase

NO, adding into the list

['I PHONE',
 'AIR POD',
 'WATCH',
 'MAC BOOK',
 'I PAD',
 'i phone',
 'I PHONE',
 'I PHONE',
 'pen']

In [56]:
new_item = input("any thing else to add:")

if new_item not in list_of_item_purchase:
     print("NO, adding into the list")
     list_of_item_purchase =  list_of_item_purchase + [new_item]
list_of_item_purchase

any thing else to add: book

['I PHONE',
 'AIR POD',
 'WATCH',
 'MAC BOOK',
 'I PAD',
 'i phone',
 'I PHONE',
 'I PHONE',
 'pen',
 'book']

In [58]:
list1 = ["ineuron", "datascience","big-data", "analytics"]
list2 = [5,6,2,9,7,5,0]
print(max(list1))
print(max(list2))

ineuron
9

In [59]:
example = [1,45,999,10]

max(example)

999

In [61]:
string_example = ["b", "a", "d", "c"]

max(string_example)

'd'

In [62]:
string_example = ["b", "a", "d", "c", "D"]

max(string_example)

'd'

In [63]:
example = [1,45,99.9,10]

max(example)

99.9

In [64]:
example = [1,45,99.9,10 1+5j]

max(example)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1021420500.py, line 1)

In [65]:
example = [1,45,99.9,1000, -500]

min(example)

-500

In [66]:
example = [1,45,99.9,1000, -500, 200*20]

max(example)

4000

In [67]:
string_example = ["sohail", "danish", "asif" "Doctor"]

max(string_example)

'sohail'

In [68]:
string_example = ["sohail", "danish", "asif" "Doctor"]

min(string_example)

'asifDoctor'

In [3]:
string_example = ["b", "a", "d", "c", "D"]

max(string_example)

'd'

In [13]:
string_example = ["sohail", "danish", "asif" "Doctor"]

min(string_example)

'asifDoctor'

In [14]:
max_len = 0
result = ""
for example in string_example:
    print(example, len(example))
    if len(example) > max_len:
        max_len = len(example)
        result = example
print (f"RESULT: max_len: {max_len} name: {result}")

sohail 6
danish 6
asifDoctor 10
RESULT: max_len: 10 name: asifDoctor

In [ ]:
 ## APPEND()

In [17]:
A = [1,2,77]

A = A + ["I PHONE"]

A

[1, 2, 77, 'I PHONE']

In [25]:
A = [1,2,77]

A.append("I PHONE")

A

[1, 2, 77, 'I PHONE']

In [26]:
A.append("SOHAIL")

A

[1, 2, 77, 'I PHONE', 'SOHAIL']

In [27]:
A.append(["SOHAIL", "AQIB"])

A

[1, 2, 77, 'I PHONE', 'SOHAIL', ['SOHAIL', 'AQIB']]

In [28]:
list_of_item_purchase = list()

N = int(input("No of item yo want to purchase: "))
for i in range(N):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_item_purchase.append(user_input) # RECOMMENDED
    
print(list_of_item_purchase)

No of item yo want to purchase:  5
Enter the item that you want to purchase:  I PHONE
Enter the item that you want to purchase:  MAC BOOK
Enter the item that you want to purchase:  I PAD
Enter the item that you want to purchase:  APPLE WATCH
Enter the item that you want to purchase:  AIR POD

['I PHONE', 'MAC BOOK', 'I PAD', 'APPLE WATCH', 'AIR POD']

In [29]:
# POP()

In [30]:
A = [3,6,9,4,6, "SOHAIL"]

A.pop()

A

[3, 6, 9, 4, 6]

In [31]:
A = [3,6,9,4,6, "SOHAIL"]

A.pop(0)

A

[6, 9, 4, 6, 'SOHAIL']

In [32]:
A = [3,6,9,4,6, "SOHAIL"]

A.pop(5)

A

[3, 6, 9, 4, 6]

In [34]:
A = [3,6,9,4,7, "SOHAIL"]

A.pop(4)

A

[3, 6, 9, 4, 'SOHAIL']

In [37]:
A.pop(0)

A

[9, 4, 'SOHAIL']

In [38]:
A = [3,6,9,4,7, "SOHAIL"]

A.pop(4)

A

[3, 6, 9, 4, 'SOHAIL']

In [39]:
removed_item = A.pop(2)

removed_item

9

In [40]:
A

[3, 6, 4, 'SOHAIL']

In [41]:
# REMOVE ODD NOS

A = [1,34,56,76,99]

for idx in range(len(A)):
    num = A[idx]
    print(idx, num)
    if num%2!= 0: # odd condition # % gives remainder value
        print(f"odd num: {num}")
    else:
        print(f"even num: {num}")

0 1
odd num: 1
1 34
even num: 34
2 56
even num: 56
3 76
even num: 76
4 99
odd num: 99

In [42]:
A = [1,34,56,76,99]

len(A)

5

In [44]:
A = [1,34,56,76,99]

A.pop(4)

A

[1, 34, 56, 76]

In [46]:
A = [1,45,34,56,26, 98, -34]

sorted(A)

[-34, 1, 26, 34, 45, 56, 98]

In [47]:
A

[1, 45, 34, 56, 26, 98, -34]

In [48]:
A = sorted(A)

A

[-34, 1, 26, 34, 45, 56, 98]

In [50]:
A[::-1]

[98, 56, 45, 34, 26, 1, -34]

In [51]:
A[::--1]

[-34, 1, 26, 34, 45, 56, 98]

In [52]:
A = [1,45,34,56,26, 98, -34]

A[::--1]

[1, 45, 34, 56, 26, 98, -34]

In [53]:
A = [1,45,34,56,26, 98, -34]

A.sort()  # PERMANENT CHANGE

In [54]:
A

[-34, 1, 26, 34, 45, 56, 98]

In [55]:
A = [1,45,34,56,26, 98, -34]

A.sort(reverse=True)# directly get answer in decending order

A

[98, 56, 45, 34, 26, 1, -34]

In [56]:
A.reverse() # INPLACE SOLUTION

In [57]:
A

[-34, 1, 26, 34, 45, 56, 98]

In [58]:
A = [1,23,45, "SOhail", "iNeuron"]

A.reverse()

A

['iNeuron', 'SOhail', 45, 23, 1]

In [59]:
A

['iNeuron', 'SOhail', 45, 23, 1]

In [60]:
# Nesting of the list

In [71]:
A = [[1,2,3], [11,22,33], [45,56,77]]

A

[[1, 2, 3], [11, 22, 33], [45, 56, 77]]

In [72]:
A[0]

[1, 2, 3]

In [73]:
A[1]

[11, 22, 33]

In [74]:
A[2]

[45, 56, 77]

In [75]:
A[1][1]

22

In [76]:
A[0][2]

3

In [77]:
A[2][0]

45

In [78]:
A = [[1,2,3], [11,22,33, [500,502]], [45,56,77]]

A

[[1, 2, 3], [11, 22, 33, [500, 502]], [45, 56, 77]]

In [82]:
A[1][3]

[500, 502]

In [83]:
A[1][3][0]

500

In [3]:
A = [[1,2,3], [11,22,33, [500,502]], [45, [239, "HII"], 56,77]]

A

[[1, 2, 3], [11, 22, 33, [500, 502]], [45, [239, 'HII'], 56, 77]]

In [5]:
A = [[1,2,3], [11,22,33, [500,502]], [45, [239, "HII"], 56,77]]

A

[[1, 2, 3], [11, 22, 33, [500, 502]], [45, [239, 'HII'], 56, 77]]

In [14]:
A[2][1][1]

'HII'

In [17]:
A[-1][1][-1]

'HII'

In [15]:
A[0][1]

2

In [9]:
A[1]

[11, 22, 33, [500, 502]]

In [10]:
A[2]

[45, [239, 'HII'], 56, 77]

In [12]:
A[2][1]

[239, 'HII']

In [13]:
A[2][1][1]

'HII'

In [1]:
amazon_cart = [["watch", 5000], ["i phone", 10000],["mac book", 50000]]

total_cost = 0

In [2]:
# without for loop

amazon_cart[0]

['watch', 5000]

In [3]:
amazon_cart[0][1]

5000

In [4]:
amazon_cart[2]

['mac book', 50000]

In [5]:
amazon_cart[2][1]

50000

In [8]:
amazon_cart[2][1] + amazon_cart[0][1] + amazon_cart[1][1]

65000

In [9]:
total_cost = 0

for i in range (len(amazon_cart)):
    #print(i)
    print(amazon_cart[i][1])

5000
10000
50000

In [11]:
total_cost = 0

for i in range (len(amazon_cart)):
    #print(i)
    print(amazon_cart[i][1])
    total_cost = total_cost + amazon_cart[i][1]
    
print(total_cost)

5000
10000
50000
65000

In [15]:
total_cost = 0

for i in amazon_cart:
    print(i)

['watch', 5000]
['i phone', 10000]
['mac book', 50000]

In [20]:
total_cost = 0

for i in amazon_cart:
    print(i)
     
print(total_cost)

['watch', 5000]
['i phone', 10000]
['mac book', 50000]
0

In [21]:
total_cost = 0

for i in amazon_cart:
    print(i[1])
     
print(total_cost)

5000
10000
50000
0

In [22]:
total_cost = 0

for i in amazon_cart:
    print(i)
    total_cost = total_cost + i[1]
    
    
     
print(total_cost)

['watch', 5000]
['i phone', 10000]
['mac book', 50000]
65000

In [24]:
total_cost = 0
print(f"empty cart:{total_cost}")

for i in amazon_cart:
    print(i[1])
    total_cost = total_cost + i[1]
    print(f"cart after adding {i[0]}: {total_cost}")
    
    
     
print(f"total payable amount: {total_cost}")

empty cart:0
5000
cart after adding watch: 5000
10000
cart after adding i phone: 15000
50000
cart after adding mac book: 65000
total payable amount: 65000

In [25]:
# list comprehension

In [1]:
# list which contains list of square of nos between 1 to 10

A = [1,2,3,4,5,6,7,8,9,10]
ans = [1, 4, 9, 16,...]

In [6]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for ele in A:
    print(ele**2)
    ans.append(ele**2)

print(ans)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
ans = [ele**2 for ele in A]

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
# only take the square of odd no in the list A

A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for ele in A:
    if ele%2 != 0:
        print(ele)

1
3
5
7
9

In [9]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for ele in A:
    if ele%2 != 0:
        print(ele**2)

1
9
25
49
81

In [10]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for ele in A:
    if ele%2 != 0:
        print(ele**2)
        ans.append(ele**2)

ans

1
9
25
49
81

[1, 9, 25, 49, 81]

In [11]:
ans = [ele**2 for ele in A if ele%2 != 0]

print(ans)

[1, 9, 25, 49, 81]

In [12]:
# count

In [13]:
A = [1,2,1,4,5,6,5,7,7,7]

In [14]:
A.count(1)

2

In [15]:
A.count(6)

1

In [22]:
A = [1,2,1,4,5,6,5,7,7,7]

for i in A:
    print(i, A.count(i))

1 2
2 1
1 2
4 1
5 2
6 1
5 2
7 3
7 3
7 3

In [16]:
A.count(75641)

0

In [20]:
A = [1,2,1,4,5,6,5,[7,7],[7,7]]

A.count([7,7])

2

In [21]:
A[-1].count(7)

2

In [23]:
A = "sohail"
for i in A:
    print(i)

s
o
h
a
i
l

In [24]:
A = "sohail"
for i in A:
    print(i, A.count(i))

s 1
o 1
h 1
a 1
i 1
l 1

In [27]:
A = ["sohail", "sohail", "anwar"]
for i in A:
    print(i, A.count(i))

sohail 2
sohail 2
anwar 1

In [28]:
A = ["sohail", "SOHAIL", "anwar"]
for i in A:
    print(i, A.count(i))

sohail 1
SOHAIL 1
anwar 1

In [29]:
# Extend

In [30]:
A = [1,2,3]

B = [11,22,33]

A + B

[1, 2, 3, 11, 22, 33]

In [32]:
A = [1,2,3]

B = [11,22,33]

A.extend(B) # permananet operation, inplace assignment

A

[1, 2, 3, 11, 22, 33]

In [33]:
A = [1,2,3]

B = [11,22,33]

A.append(B)

A

[1, 2, 3, [11, 22, 33]]

In [34]:
A = [1,2,3]

B = [11,22,33]

print(A + B)
print("befor assignment")
print(A)

A = A + B
print("after assignment")
print(A)

[1, 2, 3, 11, 22, 33]
befor assignment
[1, 2, 3]
after assignment
[1, 2, 3, 11, 22, 33]

In [35]:
# index method

In [40]:
A = [11, 3, 4, 56+2j, "SOHAIL", 1+5j]

In [41]:
A.index(11)

0

In [42]:
A.index("SOHAIL")

4

In [43]:
for ele in A:
    print(ele)

11
3
4
(56+2j)
SOHAIL
(1+5j)

In [44]:
for ele in A:
    print(ele, type(ele))

11 <class 'int'>
3 <class 'int'>
4 <class 'int'>
(56+2j) <class 'complex'>
SOHAIL <class 'str'>
(1+5j) <class 'complex'>

In [46]:
for ele in A:
    print(f"Element: {ele}, | Type: {type(ele)}, | Index: {A.index(ele)}")

Element: 11, | Type: <class 'int'>, | Index: 0
Element: 3, | Type: <class 'int'>, | Index: 1
Element: 4, | Type: <class 'int'>, | Index: 2
Element: (56+2j), | Type: <class 'complex'>, | Index: 3
Element: SOHAIL, | Type: <class 'str'>, | Index: 4
Element: (1+5j), | Type: <class 'complex'>, | Index: 5

In [48]:
for ele in A:
    if type(ele) == complex:
        print(f"Element: {ele}, | Type: {type(ele)}, | Index: {A.index(ele)}")

Element: (56+2j), | Type: <class 'complex'>, | Index: 3
Element: (1+5j), | Type: <class 'complex'>, | Index: 5

In [49]:
for ele in A:
    if type(ele) == int:
        print(f"Element: {ele}, | Type: {type(ele)}, | Index: {A.index(ele)}")

Element: 11, | Type: <class 'int'>, | Index: 0
Element: 3, | Type: <class 'int'>, | Index: 1
Element: 4, | Type: <class 'int'>, | Index: 2

In [50]:
for ele in A:
    if type(ele) == str:
        print(f"Element: {ele}, | Type: {type(ele)}, | Index: {A.index(ele)}")

Element: SOHAIL, | Type: <class 'str'>, | Index: 4

In [51]:
## isinstance

In [52]:
for ele in A:
    if isinstance(ele, complex):
        print(f"Element: {ele}, | Type: {type(ele)}, | Index: {A.index(ele)}")

Element: (56+2j), | Type: <class 'complex'>, | Index: 3
Element: (1+5j), | Type: <class 'complex'>, | Index: 5

In [53]:
for ele in A:
    if isinstance(ele, complex) or isinstance(ele, int):
        print(f"Element: {ele}, | Type: {type(ele)}, | Index: {A.index(ele)}")

Element: 11, | Type: <class 'int'>, | Index: 0
Element: 3, | Type: <class 'int'>, | Index: 1
Element: 4, | Type: <class 'int'>, | Index: 2
Element: (56+2j), | Type: <class 'complex'>, | Index: 3
Element: (1+5j), | Type: <class 'complex'>, | Index: 5

In [56]:
for ele in A:
    if isinstance(ele, (complex, int)): # pythonic way
        print(f"Element: {ele}, | Type: {type(ele)}, | Index: {A.index(ele)}")

Element: 11, | Type: <class 'int'>, | Index: 0
Element: 3, | Type: <class 'int'>, | Index: 1
Element: 4, | Type: <class 'int'>, | Index: 2
Element: (56+2j), | Type: <class 'complex'>, | Index: 3
Element: (1+5j), | Type: <class 'complex'>, | Index: 5

In [58]:
ans = [ele for ele in A if isinstance(ele, complex)]

ans

[(56+2j), (1+5j)]

In [59]:
ans = [ele for ele in A if type(ele)==complex]

ans

[(56+2j), (1+5j)]

In [60]:
A = [11, 3, 4, 56+2j, "sohail", 1+2j, 3, 3] # dulicate elements

A.index(3)

1

In [1]:
A = [11, 3, 4, 56+2j, "sohail", 1+2j, 3, 3] # dulicate elements

A.index(4444)

ValueError: 4444 is not in list

In [2]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A.index([4,5,6])

3

In [3]:
## insert

In [4]:
A = [1,2,3,4,5]

A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [5]:
A.insert(2, "sohail")

A

[1, 2, 'sohail', 3, 4, 5, 99]

In [6]:
A.insert(20000, "sohail")

A

[1, 2, 'sohail', 3, 4, 5, 99, 'sohail']

In [8]:
A[20000]

IndexError: list index out of range

In [7]:
A.insert(-20000, "sohail")

A

['sohail', 1, 2, 'sohail', 3, 4, 5, 99, 'sohail']

In [9]:
A = [1,2,3,4,5]

len(A)

5

In [10]:
A.insert(2, "sohail")

len(A)

6

In [11]:
A.insert(20000, "sohail")

len(A)

7

In [12]:
## REMOVE

In [13]:
A = [1,2,3,455,6,77]

A.remove(455)

A

[1, 2, 3, 6, 77]

In [1]:
A = [1,1,2,3,455,6,77]

A.remove(1)

A

[1, 2, 3, 455, 6, 77]

In [2]:
A.pop(-1)

77

In [3]:
A.pop() # THIS REMOVES THE LAST ELEMENT

6

In [5]:
## TUPLES () IMMUTABLE

## LIST = []  MUTABLE

In [6]:
A = (1,2,3)

In [7]:
type(A)

tuple

In [8]:
A[0]

1

In [9]:
A[-1]

3

In [10]:
A[0] = 22

TypeError: 'tuple' object does not support item assignment

In [11]:
A = (22, 12, 34, 1)

In [12]:
A.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [14]:
sorted(A) # CONVERT IT INTO LIST AND THEN RETURN THE SORTED LIST

[1, 12, 22, 34]

In [5]:
A = sorted(A)

A

NameError: name 'A' is not defined

In [16]:
A = (22, 12, 34, 1)

len(A)

4

In [17]:
A * 2

(22, 12, 34, 1, 22, 12, 34, 1)

In [21]:
A = A * 2

A

(22, 12, 34, 1, 22, 12, 34, 1)

In [22]:
max(A)

34

In [23]:
min(A)

1

In [24]:
A.index(12)

1

In [26]:
A.count(12)

2

In [2]:
sum(A)

NameError: name 'A' is not defined

In [3]:
A[1:]

NameError: name 'A' is not defined

In [4]:
A[::-1]

NameError: name 'A' is not defined

In [6]:
A = sorted(A)

A

NameError: name 'A' is not defined